@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk72xU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk72xU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk72xU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIuaomQNQcsA88c7O9yZ4KMCoOg4Koz4yOqhMva.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* vietnamese */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIuaomQNQcsA88c7O9yZ4KMCoOg4Koz4yGqhMva.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIuaomQNQcsA88c7O9yZ4KMCoOg4Koz4yCqhMva.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIuaomQNQcsA88c7O9yZ4KMCoOg4Koz4y6qhA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko70yyygA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* vietnamese */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko50yyygA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko40yyygA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v12/LDIoaomQNQcsA88c7O9yZ4KMCoOg4Ko20yw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    scrollbar-width: none; 
}

body {
    font-family: 'Playfair Display', serif; 
    position: relative; 
    min-height: 100vh; 
    margin: 0; 
    height: 100%; 
    -ms-overflow-style: none; 
    -webkit-overflow-scrolling: touch; 
}

body::webkit-scrollbar {
    display: none; 
}

body::before {
    content: ""; 
    position: fixed; 
    inset: 0; 
    background: 
        linear-gradient(
            to bottom, 
            rgba(70,37, 1, 0) 45%, 
            rgba(70, 37, 1, 0.4) 65%,
            rgba(70, 37, 1, 0.85) 85%,  
            rgba(70, 37, 1, 1) 100%
        ), 

    url("assets/images/golden-wave-texture.png"); 

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.90; 
    filter: brightness(1.15) saturate(1.2); 
    z-index: -4; 
}

body::after {
    content: ""; 
    position: fixed; 
    inset: 0; 
    background: rgba(50, 26, 0, 0.711); 
    z-index: -3; 
}

.font-playfair {
    font-family: 'Playfair Display', serif; 
}
 
.font-jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

.font-italic {
    font-style: italic; 
}

.font-normal {
    font-style: normal; 
}

.section {
    position: relative; 
    z-index: 1; 
    min-height: 100vh; 
    padding: 10vh 8vw; 
}

.section-hero {
    padding-top: calc(10vh = 72px); 
}

.section-mid{
    background: linear-gradient(
        to bottom,
        rgba(30, 14, 0, 0.45) 0%,
        rgba(30, 14, 0, 0.75) 55%,
        rgba(30, 14, 0, 0.92) 80%,
        rgba(30, 14, 0, 0.98) 100%
    );
}

.section-deep {
    background: linear-gradient(
        to bottom,
        rgba(30, 14, 0, 0.98) 0%,
        rgba(30, 14, 0, 1) 20%,
        rgb(30, 14, 0) 100%
    );

    min-height: 160vh; 
}


.footer-solid {
    position: relative; 
    z-index: 2; 
    background-color: #160900; 
    color: #f5e6c8; 
    padding: 25vh 8vw; 
}

.nav-panel {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 80px; 
    background: rgba(28, 14, 0, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(93, 70, 54, 0.6); 
    z-index: 100; 
    display: flex; 
    align-items: center; 
}

.nav-inner {
    width: 100%; 
    max-width: 1400px; 
    margin: 0 auto; 
    padding-left: -6vw; 
    padding-right: 12vw; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-logo { 
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    font-size: 1.50rem; 
    letter-spacing: 0.2em; 
    text-transform: uppercase; 
    color: #ffffff; 
    cursor: pointer; 
    margin-left: -3vw; 
}

.logo-dot {
    color: #f1c453; 
    margin-left: -10px; 
}

.nav-links {
    list-style: none; 
    display: flex; 
    gap: 2.5rem; 
    margin: 0; 
    padding: 0;
    align-items: center;
}

.nav-links a {
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 0.85rem; 
    letter-spacing: normal; 
    text-transform: none; 
    color: rgba(245, 230, 200, 0.85); 
    text-decoration: none; 
    transition: color 0.25s ease; 
}

.nav-links a:hover {
    color: rgb(254, 208, 94); 
}

.nav-btn-outline {
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 1.05rem; 
    letter-spacing: normal; 
    text-transform: none; 
    color: #d78c00; 
    padding: 8px 15px; 
    border: 1.3px solid #d78c00; 
    border-radius: 5px; 
    background: transparent; 
    text-decoration: none; 
    transform: translateX(32px); 
    transition: 
    color 0.25s ease, 
    border-color 0.25s ease,
    background-color 0.25s ease;  
}

.nav-btn-outline:hover {
    background-color: rgb(254, 208, 94); 
    color: rgb(35, 16, 0); 
}

.nav-links a.nav-btn-outline {
    color: #ffa600; 
    font-size: 0.90rem;
    transform: translateX(32px); 
    position: relative; 
    right: -220px; 
}

.nav-links a.nav-btn-outline:hover {
    background-color: rgb(254, 208, 94); 
    color: rgb(35, 16, 0); 
}

.nav-links li:last-child {
    margin-left: auto; 
}

.nav-cta {
    margin-left: 2.5rem; 
}

.nav-links a[href="#contact"] {
    font-size: 0.93rem;
    position: relative; 
    right: -260px; 
}

.nav-links a[href="#about"] {
    font-size: 0.93rem; 
    position: relative; 
    right: -310px; 
}

.nav-links a[href="#work"] {
    font-size: 0.93rem; 
    position: relative; 
    right: -353px;
}


